@import "buttons";

:root {
  --primary-color: #1E90FF;
  --primary-text-color: #fff;
  --border-radius: 6px;

  --text-color: #000;
  --container-bg-color: #fff;
}

.theme-inverse {
  --container-bg-color: #000;
  --primary-text-color: #000;
  --text-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.spacer {
  flex: 1 1 auto;
}

.rows {
  display: grid;
  gap: 16px;
}

.text-success {
  color: green;
}

.text-fail {
  color: #c90808;
}

.general-body {
  /*font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 20px;*/

  font: normal 14px/20px 'Roboto';

  background: var(--container-bg-color);
  color: var(--text-color);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  display: flex;
  padding: 24px;
  background: var(--primary-color);
  color: var(--primary-text-color);
  min-height: 64px;
  box-sizing: border-box;
}

.footer {
  justify-content: center;
}

.main {
  max-width: 640px;
  margin: 0 auto;
  padding: 24px;
  flex: 1 1 auto;
  width: 100%;
  box-sizing: border-box;
}

.heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 1em;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 24px;
}

.heading--sub {
  font-size: 20px;
}

.form-label {
  display: block;
}

.radio-group-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.form-footer {
  padding-top: 1em;
}

.text-field {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  padding: 4px;
  min-height: 32px;
}

.card {
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  padding: 24px;
}

.results {
  text-align: center;
}